Life expectancy without python.json
[{"id":"f7e4a3c1.49ea7","type":"tab","label":"LEP without python","disabled":false,"info":""},{"id":"ed283ba2.2c83b8","type":"function","z":"f7e4a3c1.49ea7","name":"Pre token","func":"global.set(\"A\",msg.payload.A);\nglobal.set(\"B\",msg.payload.B);\nglobal.set(\"C\",msg.payload.C);\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n\nvar apikey=\"h8N4PST49VzQvqSijicPlsGcQKUvONN47mOnMXD6ckwj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["56ed8ac9.57da94"]]},{"id":"56ed8ac9.57da94","type":"http request","z":"f7e4a3c1.49ea7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":60,"wires":[["14076211.8e03de"]]},{"id":"14076211.8e03de","type":"function","z":"f7e4a3c1.49ea7","name":"Send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"437f426b-57f9-4661-a8d6-9fbe34af2d07\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar A = global.get(\"A\");\nvar B = global.get(\"B\");\nvar C = global.get(\"C\");\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\"values\":[[A,B,C,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]}]};\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["9d9bfa3d.84a968"]]},{"id":"9d9bfa3d.84a968","type":"http request","z":"f7e4a3c1.49ea7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/41e73cb5-7e06-40e6-ad46-726477139d28/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":60,"wires":[["4b975c63.de1784","27ba41fb.f5810e"]]},{"id":"4b975c63.de1784","type":"function","z":"f7e4a3c1.49ea7","name":"Get from endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":60,"wires":[["f5512f9c.a0ef2","c0b7a2d.d99256"]]},{"id":"27ba41fb.f5810e","type":"debug","z":"f7e4a3c1.49ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":160,"wires":[]},{"id":"f5512f9c.a0ef2","type":"debug","z":"f7e4a3c1.49ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":240,"wires":[]},{"id":"848ca11f.0fef4","type":"ui_form","z":"f7e4a3c1.49ea7","name":"","label":"","group":"a96dbf74.e080d","order":4,"width":0,"height":0,"options":[{"label":"Country","value":"A","type":"text","required":false,"rows":null},{"label":"Year","value":"B","type":"number","required":false,"rows":null},{"label":"Status","value":"C","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"A":"","B":"","C":"","a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"SUBMIT","cancel":"RESET","topic":"","x":100,"y":80,"wires":[["ed283ba2.2c83b8"]]},{"id":"c0b7a2d.d99256","type":"ui_text","z":"f7e4a3c1.49ea7","group":"a96dbf74.e080d","order":3,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":320,"wires":[]},{"id":"a96dbf74.e080d","type":"ui_group","z":"","name":"LIFE EXPECTANCY PREDICTION","tab":"827f3494.cebab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"827f3494.cebab8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]