Life expectency with python.json
[{"id":"b91c133.4b50cf","type":"tab","label":"LEP python","disabled":false,"info":""},{"id":"aa9347af.437b68","type":"function","z":"b91c133.4b50cf","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"h8N4PST49VzQvqSijicPlsGcQKUvONN47mOnMXD6ckwj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["a47378dd.9d5d08"]]},{"id":"a47378dd.9d5d08","type":"http request","z":"b91c133.4b50cf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":140,"wires":[["9ffcba95.30de88"]]},{"id":"9ffcba95.30de88","type":"function","z":"b91c133.4b50cf","name":"Access ML model","func":"var token=msg.payload.access_token;\nvar instance_id=\"437f426b-57f9-4661-a8d6-9fbe34af2d07\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nmsg.payload = {\"fields\":[\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness  1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["a7b2d274.bbf98"]]},{"id":"a7b2d274.bbf98","type":"http request","z":"b91c133.4b50cf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/437f426b-57f9-4661-a8d6-9fbe34af2d07/deployments/2a385dc5-1eae-4469-9c80-75fb67f6c2ce/online","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":140,"wires":[["14fa11b9.28058e","fba34c24.99a97"]]},{"id":"14fa11b9.28058e","type":"function","z":"b91c133.4b50cf","name":"Access ML model","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["a715c89c.f59cd8","4b457a65.1b9ea4"]]},{"id":"fba34c24.99a97","type":"debug","z":"b91c133.4b50cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":240,"wires":[]},{"id":"a715c89c.f59cd8","type":"debug","z":"b91c133.4b50cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":120,"wires":[]},{"id":"4b457a65.1b9ea4","type":"ui_text","z":"b91c133.4b50cf","group":"a96dbf74.e080d","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":240,"wires":[]},{"id":"2fda87d5.93af68","type":"ui_form","z":"b91c133.4b50cf","name":"","label":"","group":"a96dbf74.e080d","order":2,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":80,"y":140,"wires":[["aa9347af.437b68"]]},{"id":"a96dbf74.e080d","type":"ui_group","z":"","name":"LIFE EXPECTANCY PREDICTION","tab":"827f3494.cebab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"827f3494.cebab8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]